<!DOCTYPE html>
<html>
<head>
  <%- partial('_partials/head') %>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();
   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(98081295, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/98081295" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</head>
<body
  <% if (theme.monochrome) { %>
    class="monochrome"
  <% } %>
  >
  <%- partial('_partials/mobile-header', {}, {cache: true}) %>
  <div class="main-container">
    <%- partial('_partials/sidebar', {}, {cache: true}) %>
    <div class="main-content">
      <% if (theme.maxContentWidth) { %>
        <div style="max-width: <%= theme.maxContentWidth %>">
      <% } %>
          <%- body %>
          <%- partial('_partials/footer', {}, {cache: true}) %>
      <% if (theme.maxContentWidth) { %>
        </div>
      <% } %>
    </div>
  </div>
  <%- partial('_partials/scripts', {}, {cache: true}) %>
</body>
</html>
