<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>">
  <% if (post.link || post.title){ %>
    <h1 class="article-header">
      <%- post.title %>
    </h1>
  <% } %>
  <%- partial('post/gallery') %>
  <div class="article-info">
    <%- partial('post/date') %>
    <%- partial('post/category') %>
    <%- partial('post/tag') %>
  </div>
  <div class="article-entry">
    <%- post.content %>
  </div>
  <footer class="article-footer">
    <%- partial('post/cc') %>
    <%- partial('post/jiathis') %>
  </footer>
</article>

<div id="anycomment-app"></div>
<script>
AnyComment = window.AnyComment || []; AnyComment.Comments = [];
AnyComment.Comments.push({
    "root": "anycomment-app",
    "app_id": 6575,
    "language": "ru"
})
var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
s.src = "https://widget.anycomment.io/comment/embed.js";
var sa = document.getElementsByTagName("script")[0];
sa.parentNode.insertBefore(s, s.nextSibling);
</script>
